[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/abmprotocol/ds-test
[submodule "lib/dss-cdp-manager"]
	path = lib/dss-cdp-manager
	url = https://github.com/abmprotocol/dss-cdp-manager
[submodule "lib/proxy-registry"]
	path = lib/proxy-registry
	url = https://github.com/abmprotocol/proxy-registry
[submodule "lib/ds-weth"]
	path = lib/ds-weth
	url = https://github.com/abmprotocol/ds-weth
[submodule "lib/dss-gem-joins"]
	path = lib/dss-gem-joins
	url = https://github.com/abmprotocol/dss-gem-joins
